.ant-layout-header {
    background: #2095cd;
}
.ant-layout-footer {
    padding: 0;
}
.main-wrap {
    .ant-divider-horizontal.ant-divider-with-text {
        border-top-color: #2095cd;
    }
    .ant-divider-inner-text {
        font-weight: bold;
    }
}